html, body {
  padding: 0;
  margin: 0;
}
body, div, p {
  font-family: Arial, Helvetica, Verdana;
  color: #333;
}
body {
  background-color: #eee;
}
h1 {
  font-size: 60px;
}
a, a:link, a:active, a:visited {
  color: black;
  text-decoration: underline;
}
a:hover {
  color: #9E1F63;
}
#intro {
  width: 580px;
  margin: 0 auto;
}
.wrapper {
  background-color: white;
  width: 480px;
  margin: 40px auto;
  box-shadow: 0 0 5px #999;
}
.list_carousel {
  background-color: #ccc;
  margin: 0px 0px 30px 60px;
  width: auto;
}
.list_carousel ul {
  background-color: red;
  margin: 0;
  padding: 70;
  list-style: none;
  display: block;
}
.list_carousel li {
  font-size: 40px;
  color: #999;
  text-align: center;
  background-color: #eee;
  border: 5px solid #999;
  width: 160px;
  height: 160px;
  padding: 0;
  margin: 6px;
  display: block;
  float: left;
}
.list_carousel.responsive {
  width: auto;
  margin-left: 0;
}
.clearfix {
  float: none;
  clear: both;
}
.prev {
  float: left;
  margin-left: 10px;
}
.next {
  float: right;
  margin-right: 10px;
}
.pager {
  float: center;
  width: auto;
  text-align: center;
}
.pager a {
  margin: 0 5px;
  text-decoration: none;
}
.pager a.selected {
  text-decoration: underline;
}
.timer {
  background-color: #999;
  height: 6px;
  width: 0px;
}
#cats {
  width: 150px;
  height: 150px;
}